<?xml version="1.0" encoding="utf-8"?>
     <beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


     
	
   
	 <security:http use-expressions="true" auto-config="true" entry-point-ref="http403EntryPoint">
    	<!-- Additional http configuration omitted -->
    	    	<security:intercept-url pattern="/index.jsp" access="permitAll" />
    	    		<security:logout  invalidate-session="true"   logout-url="/identity/logout"   success-handler-ref="logoutSuccessHandler" delete-cookies="JSESSIONID,
														SMSESSION,
														_ga,
														RSOMyLogin,
														RSOFP,
														logintry,
														RSOSESSION,
														cookieBusFilterId,
														mod_auth_openidc_session,
														SITECK,
														TARGET"  />
    	    		   	<security:intercept-url pattern="/secured/home" access="permitAll" />
    	    		   	<security:intercept-url pattern="/users/manager" access="hasRole('ROLE_MANAGER')" />
    	    		   	<security:intercept-url pattern="/users/member" access="hasRole('ROLE_USER')" />
    	    		  <!--  	<security:intercept-url pattern="/identity/logout" access="permitAll" /> -->
    	    		   	
    	<security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
 <security:csrf disabled="true"/>

    
    	<security:custom-filter position="PRE_AUTH_FILTER" ref="siteminderFilter" />
  	</security:http>
  	

    <bean id="siteminderFilter" class="org.springframework.security.web.authentication.preauth.RequestHeaderAuthenticationFilter">
	    <property name="principalRequestHeader" value="SM_USER"/>
	    <property name="authenticationManager" ref="authenticationManager" />
	    		<property name="checkForPrincipalChanges" value="true" />
		<!-- <property name="authenticationSuccessHandler" ref="myAuthenticationSuccessHandler" /> -->
	    <property name="authenticationSuccessHandler" ref="myAuthenticationSuccessHandler" /> 
	</bean>
	
  	<bean id="preauthAuthProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
	    <property name="preAuthenticatedUserDetailsService">
	      	<bean id="userDetailsServiceWrapper"  class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
	        	<property name="userDetailsService" ref="customUserDetailsService"/>
	      	</bean>
	    </property>
    </bean> 
    <bean id="logoutSuccessHandler" class="com.howtodoinjava.security.CustomLogoutHandler" >
	    <constructor-arg value="https://ssologin.qagen2.corporate.ge.com/logoff/logoff.jsp?referrer=" />	
	</bean>
    
    	<bean id="myAuthenticationSuccessHandler" class="com.howtodoinjava.security.MySimpleUrlAuthenticationSuccessHandler">

    </bean>
    


    <security:authentication-manager alias="authenticationManager">
      	<security:authentication-provider ref="preauthAuthProvider" />
    </security:authentication-manager>	
    
    <bean id="customUserDetailsService" class="com.howtodoinjava.security.CustomUserDetailsService"></bean>
    <bean id="http403EntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"></bean>
    
</beans>